/* Base (Mobile-First) Styles */

.logo {
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  border-radius: 5px;
  z-index: 100;
  left: 5%;
  top: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.logo-image {
  width: 50px;
  height: 50px;
}

.nav {
  transform: translateY(-200%);
  position: fixed;
  top: 3.5rem;
  right: 10%;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.498);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  z-index: 100;
}

.nav.open {
  transform: translateY(0);
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.nav-links li {
  width: 100%;
  box-sizing: border-box;
}

.nav-links li a {
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 0;
}

.nav-links li a:hover {
  color: darkgray;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  cursor: pointer;
  z-index: 100;
  position: fixed;
  top: 1rem;
  right: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.bar {
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
  width: 100%;
}

.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(7.5px, 7.5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(7.5px, -7.5px);
}

@media (min-width: 48rem) {
  .hamburger {
    right: 5%; /* Adjust hamburger position for larger screens */
  }

  .logo {
    font-size: 24px;
  }

  .nav {
    top: 3.5rem;
    right: 5%;
  }
}
