.about{
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 64rem;
  margin:0 auto;
}

.about h1{
  margin:1rem;
}

section{
  width:100%;
}

.about-section{
  margin:1rem;
}

