.contact{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2rem 0;
}

.contact-item a{
    margin: 1rem;
}

.email-item a{
    margin: 1rem;
}