/* .link-button{
    width: 100%;
} */

.link-button a {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 2rem auto;
    margin-left:0rem;
  }
  

  .link-with-arrow{
    border: solid 2px white;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    transition: border-color 0.5s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  @media (max-width:600px){
    .link-with-arrow{
        padding:0.5rem;
    }
  }

  .link-with-arrow:hover .arrow{
    transform: translateX(5px); /* Smooth move to the right */
  }
  
  
  .link-button a:hover {
    animation: rainbow-border 1.5s linear infinite; /* Infinite animation on hover */
  }

  .arrow{
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease-in-out;
    margin-left:1rem;
  }
  
  @keyframes rainbow-border {
    0% { border-color: red; }
    16.6% { border-color: orange; }
    33.3% { border-color: yellow; }
    50% { border-color: green; }
    66.6% { border-color: blue; }
    83.3% { border-color: indigo; }
    100% { border-color: violet; }
  }
  