.slideshow-container {
    width: 90%; 
    max-width: 64rem;
    /* overflow: hidden; Prevent any overflow from large images */
  }

  .slick-prev, .slick-next {
    width: fit-content;
    height:fit-content;
  }

  /* Target the arrow images for hover effects */
.arrow-img {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease; /* Smooth transition for the hover effect */
  }
  
  /* Add a scaling effect on hover */
  .arrow-img:hover {
    transform: scale(1.2); /* Scale the image slightly when hovered */
  }
  
  
  /* Remove default arrow text */
  .slick-prev:before, .slick-next:before {
    display: none;
  }
  
  
  .slick-dots {
    bottom: 10px; /* Adjust the position */
    text-align: center; /* Align dots */
  }
  
  .slick-dots li button:before {
    font-size: 12px; /* Size of the dots */
    color: #00ff11; /* Color of the dots */
    opacity: 0.75; /* Transparency */
  }
  
  .slick-dots li.slick-active button:before {
    color: #00ff11; /* Color of active dot */
    opacity: 1;
  }
  
  .slick-dots li button:before {
    border-radius: 50%; /* Make dots round */
    width: 10px;
    height: 10px;
  }
  
/* Ensure dots are positioned below the slides */
.slick-dots {
    position: relative; /* Relative to the container */
    bottom: 0px; /* Move dots further down */
    margin-top: 20px; /* Adds space between the slides and dots */
    z-index: 1; /* Ensure they are not hidden by the slides */
  }
  
  /* Optional: Style for the container if more padding is needed */
  .slick-slider {
    padding-bottom: 50px; /* Add space at the bottom for dots */
  }
  
  /* You can further adjust the slick-list container if needed */
  .slick-list {
    margin-bottom: 40px; /* Adjust the spacing below the slides */
  }
